@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"width" 100;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.display-flex{
    display: flex;
}
.bg-light{
    background-color: #f5f8ff;
}
.display-flex{
    display: flex;
}
.font-orange{
    color: #E95A08;
}
.light-gray{
    color: rgba(0, 0, 0, 0.5);
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* header style */

/* navbar style */

.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    color: #8987A1;
}
.navbar, .banner{
    max-width: 1140px;
    margin: 0 auto;
}
#home{
    color:#252432;
    font-weight: 800;
}

/* banner styles */
.banner{
    margin-top: 130px;
    margin-bottom:120px;
    align-items: center;
    width: 100%;
}
.banner-titile{
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 15px;
}
.banner-description{
    font-size: 1.1rem;
}
.banner-content{
    align-self: flex-end;
}
/* our plants */
.our-plants{
    text-align: center;
}
.content-titile{
    font-weight: 700;
    font-size: 3.1rem;
    margin-bottom: 20px;
}
.content-paragraph{
    font-size: 1.1rem;
}

/* flower card */
.flower-plants{
    max-width: 1140px;
}
.flower-card{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 200px;
}
.product-name{
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 0px;
}
.price-name{
    font-weight: 700;
    font-size: 1.1rem;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 25px;
}
.btn-cart{
    padding: 10px 90px;
    background-color: #E95A08;
    border: none;
    font-weight:600;
    color: #f5f8ff;
    font-size: .8rem;
}
/* flower and plant sections */

.flower-plants{
    margin-bottom: 70px;
}

.plants-sections{
    display: flex;
}

.plant-titile{
    font-weight: 700;
    font-size: 3.1rem;
    color: black;
}
.plant-p, ul .list-1{
    line-height: 1.6;
    font-size: 1.1rem;
    list-style: disc;
}
.badge-image{
    width: 230px;
    height: 230px;
    margin-left: -130px;
    margin-top: -90px;
}

/* join part section */
.join-titile{
    font-size: 3.1rem;
    text-align: center;
    font-weight: 700;
    color: black;
    margin-top: 120px;
    
}
.join-part{
    max-width: 1440px;
    margin: 0 auto;
    
  
}
.email-section{
    display: flex;
    justify-content: center;
    text-align: center;
}
footer .join-part [type="email"]{
    height: 50px;
    background-color: bisque;
    /* display: block; */
    padding: 5px 350px;
    border: none;
}
.sub-button{
    background-color: #E95A08;
    color: white;
    padding: 10px 60px;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
}
.bg{
    background-image: url(/images/news-letter-bg.png);
    height:530px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
/* last section with menu */
.last-scetion{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 50px;
    width: 100%;
    gap: 100px;
}
.menu, .menu-2,.f-menu, ul {
    list-style: none;
    line-height: 3;
}
.menu, .menu-2, li a{
    text-decoration: none;
}
.i-gap{
  margin-right: 30px;
}


/* responsive media query */
@media screen and (max-width: 576px) {
    .nav-links, .badge-image{
        display: none;
    }
    .banner,.plants-sections{
        flex-direction: column;
        margin-top: 20px;
        font-size: 2.5rem; 
        justify-content: center;
        width: 100%;
    }
    .hero-image{
        width: 100%;
    }
    .flower-card{
        grid-template-columns:repeat(2, 1fr); ;
        justify-content: center;
        margin: 0 0 30px 0;
    }
    .box>img{
        width: 100%;
    }
    .banner{
        margin-bottom: 30px;
    }
    .btn-cart{
        padding: 10px 30px;
    }
    /* .plant-titile{
        font-size: 2.5rem;
        text-align: center;
    } */

    .last-scetion{
        flex-direction: column;
        width: 100%;
        gap: normal;
    }
    .plant-p, ul .list-1{
        display: inline-block;
        margin-right: 15px;
    }
    .plant-titile{
        text-align: center;
        font-size: 2.5rem;
    }

.join-titile{
    font-size: 2.3rem;
    text-align: center;
    font-weight: 700;
    color: white;
    margin-top: 20px;
    
}
.join-part{
    width: 100%;
    margin: 0 auto;
}
.bg{
    background-image: url(/images/news-letter-bg.png);
    height:auto;
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    }

footer .join-part [type="email"]{
    height: 50px;
    background-color:bisque;
    padding: 5px 30px;
}
.sub-button{
    padding: 5px 10px;
    font-size: 1rem;
    }
}